# Checkpoint 1

## Carregar m√≥dulos

In [24]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

## Carregar dados

In [25]:
path = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv'
path_dead =  'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv'

In [26]:
dados_paises_covid = pd.read_csv(path)
dados_paises_covid_dead = pd.read_csv(path_dead)

In [27]:
dados_paises_covid

    Province/State      Country/Region        Lat  ...  4/30/21  5/1/21  5/2/21
0              NaN         Afghanistan  33.939110  ...    59745   59939   60122
1              NaN             Albania  41.153300  ...   131085  131185  131238
2              NaN             Algeria  28.033900  ...   122108  122311  122522
3              NaN             Andorra  42.506300  ...    13232   13232   13282
4              NaN              Angola -11.202700  ...    26652   26815   26993
..             ...                 ...        ...  ...      ...     ...     ...
270            NaN             Vietnam  14.058324  ...     2928    2942    2962
271            NaN  West Bank and Gaza  31.952200  ...   296462  296462  297638
272            NaN               Yemen  15.552727  ...     6317    6325    6341
273            NaN              Zambia -13.133897  ...    91586   91670   91693
274            NaN            Zimbabwe -19.015438  ...    38257   38260   38281

[275 rows x 471 columns]

## Ajustes

- Nomes das colunas

In [28]:
dados_paises_covid.rename(columns={"Province/State": "province", 
                                   "Country/Region": "country"}, 
                          inplace=True)

In [29]:
dados_paises_covid_dead.rename(columns={"Province/State": "province", 
                                        "Country/Region": "country"}, 
                               inplace=True)

In [30]:
dados_paises_covid_dead.columns

Index(['province', 'country', 'Lat', 'Long', '1/22/20', '1/23/20', '1/24/20',
       '1/25/20', '1/26/20', '1/27/20',
       ...
       '4/23/21', '4/24/21', '4/25/21', '4/26/21', '4/27/21', '4/28/21',
       '4/29/21', '4/30/21', '5/1/21', '5/2/21'],
      dtype='object', length=471)

- Reajustar dados

In [31]:
dados_paises_covid = dados_paises_covid.melt(id_vars=['province', 'country', 'Lat', 'Long'], 
                                             var_name = 'date', 
                                             value_name = 'infected')

In [32]:
dados_paises_covid_dead = dados_paises_covid_dead.melt(id_vars=['province', 'country', 'Lat', 'Long'], 
                                                       var_name = 'date', 
                                                       value_name = 'dead')

In [33]:
dados_paises_covid_dead.tail()

       province             country        Lat        Long    date  dead
128420      NaN             Vietnam  14.058324  108.277199  5/2/21    35
128421      NaN  West Bank and Gaza  31.952200   35.233200  5/2/21  3272
128422      NaN               Yemen  15.552727   48.516388  5/2/21  1233
128423      NaN              Zambia -13.133897   27.849332  5/2/21  1253
128424      NaN            Zimbabwe -19.015438   29.154857  5/2/21  1570

In [34]:
dados_paises_covid_dead.dtypes

province     object
country      object
Lat         float64
Long        float64
date         object
dead          int64
dtype: object

- Ajustar datas

In [35]:
dados_paises_covid['date'] = pd.to_datetime(dados_paises_covid['date'], 
                                            infer_datetime_format='True')

In [36]:
dados_paises_covid_dead['date'] = pd.to_datetime(dados_paises_covid_dead['date'], 
                                                 infer_datetime_format='True')

In [37]:
dados_paises_covid.tail()

       province             country        Lat        Long       date  infected
128420      NaN             Vietnam  14.058324  108.277199 2021-05-02      2962
128421      NaN  West Bank and Gaza  31.952200   35.233200 2021-05-02    297638
128422      NaN               Yemen  15.552727   48.516388 2021-05-02      6341
128423      NaN              Zambia -13.133897   27.849332 2021-05-02     91693
128424      NaN            Zimbabwe -19.015438   29.154857 2021-05-02     38281

In [38]:
dados_paises_covid_dead.tail()

       province             country        Lat        Long       date  dead
128420      NaN             Vietnam  14.058324  108.277199 2021-05-02    35
128421      NaN  West Bank and Gaza  31.952200   35.233200 2021-05-02  3272
128422      NaN               Yemen  15.552727   48.516388 2021-05-02  1233
128423      NaN              Zambia -13.133897   27.849332 2021-05-02  1253
128424      NaN            Zimbabwe -19.015438   29.154857 2021-05-02  1570

In [39]:
dados_paises_covid_dead.dtypes

province            object
country             object
Lat                float64
Long               float64
date        datetime64[ns]
dead                 int64
dtype: object

- Combinar os datasets

In [40]:
dados_paises_covid.shape

(128425, 6)

In [41]:
dados_paises_covid_dead.shape

(128425, 6)

In [42]:
dados_covid = pd.merge(dados_paises_covid, dados_paises_covid_dead, 
                       on = ['province', 'country',	'Lat',	'Long',	'date'], 
                       how = 'inner')

In [43]:
dados_covid.tail()

       province             country        Lat  ...       date infected  dead
128420      NaN             Vietnam  14.058324  ... 2021-05-02     2962    35
128421      NaN  West Bank and Gaza  31.952200  ... 2021-05-02   297638  3272
128422      NaN               Yemen  15.552727  ... 2021-05-02     6341  1233
128423      NaN              Zambia -13.133897  ... 2021-05-02    91693  1253
128424      NaN            Zimbabwe -19.015438  ... 2021-05-02    38281  1570

[5 rows x 7 columns]

In [44]:
dados_covid.shape

(128425, 7)

## Aqui come√ßa o trabalho

## *Exemplo probabilidades (mem√≥rias de c√°lculo)

- Prob(infectados covid)

total infectados = soma do total de infectados dos 4 pa√≠ses

total_populacao = soma do total de popula√ß√£o dos 4 pa√≠ses

P(infectados) = total infectados / total_populacao

- P(infectado covid e ser Brasileiro)

P(infectado covid e ser Brasileiro) = infectado_e_brasil / total_populacao

- P(Infectado covid | ser Brasileiro)

total_brasil_populacao = populacao do Brasil

P(Infectado covid | ser Brasileiro) = (infectado_e_brasil / total_populacao) / (total_brasil_populacao / total_populacao)

ou

P(Infectado covid | ser Brasileiro) = infectado_e_brasil / total_brasil_populacao

# Tabela 2020 usada para compara√ßao de dados nos exercicios 3- D, G, J e 4- D, G, J

In [45]:
dic = {'Brazil': 210000000, 'Canada': 37590000, 'Italy': 60360000, 'US': 328200000}
data_final = dados_covid[dados_covid['date'] == '2020-04-27']
total_dead = data_final.groupby('country').agg(total_mortes = pd.NamedAgg(column = 'dead', aggfunc = sum))
total_dead = total_dead.reset_index()
br_us_it = data_final[data_final['country'].isin(['Brazil','Canada','US','Italy'])]
tabela = ['country','infected','dead']
total = br_us_it.filter(items=tabela)
total_dados_2020 = total.groupby('country').agg(infected = pd.NamedAgg('infected', 'sum'), dead = pd.NamedAgg('dead', 'sum')).reset_index()
total_dados_2020['populacao total'] = dic['Brazil'], dic['Canada'], dic['Italy'], dic['US']
total_dados_2020

  country  infected   dead  populacao total
0  Brazil     67446   4603        210000000
1  Canada     49616   3559         37590000
2   Italy    199414  26977         60360000
3      US   1000785  59394        328200000

# Exercicio 1

In [46]:
ultimo_dia = np.max(dados_covid['date'])
data_final = dados_covid[dados_covid['date'] == ultimo_dia]
br_us_it_ca = data_final[data_final['country'].isin(['Brazil','US','Italy', 'Canada'])]
tabela = ['country','infected','dead']
total = br_us_it_ca.filter(items=tabela)

total_dados = total.groupby('country').agg(infected = pd.NamedAgg('infected', 'sum'), dead = pd.NamedAgg('dead', 'sum')).reset_index()
total_dados

  country  infected    dead
0  Brazil  14754910  407639
1  Canada   1240878   24269
2   Italy   4044762  121177
3      US  32421641  577045

# Exercicio 2

In [47]:
dic = {'Brazil': 210000000, 'Canada': 37590000, 'Italy': 60360000, 'US': 328200000}
total_dados['total population'] = dic['Brazil'], dic['Canada'], dic['Italy'], dic['US']
total_dados

  country  infected    dead  total population
0  Brazil  14754910  407639         210000000
1  Canada   1240878   24269          37590000
2   Italy   4044762  121177          60360000
3      US  32421641  577045         328200000

# Exercicio 3

In [48]:
# a-)
total_populacao = sum(total_dados['total population'])
total_infectados = sum(total_dados['infected'])
p_infectados = total_infectados/total_populacao
print(f'A probabilidade de ser infectado pelo covid √© de {p_infectados*100:.2f}%')

A probabilidade de ser infectado pelo covid √© de 8.25%

In [49]:
# b-)
infectado_e_brasil = total_dados['infected'][0]
p_infectado_covid_e_brasil =  infectado_e_brasil / total_populacao
print(f'A probabilidade de ser infectado pelo covid e ser brasileiro √© de {p_infectado_covid_e_brasil*100:.2f}%')

A probabilidade de ser infectado pelo covid e ser brasileiro √© de 2.32%

In [50]:
# c-)
total_brasil_populacao = total_dados['total population'][0]
p_infectado_covid_ser_brasileiro = infectado_e_brasil / total_brasil_populacao
print('A probabilidade de ser infectado pelo covid |', f'ser brasileiro √© de {p_infectado_covid_ser_brasileiro *100:.2f}%')

A probabilidade de ser infectado pelo covid | ser brasileiro √© de 7.03%

In [51]:
# d-) 
total_populacao_2020 = sum(total_dados_2020['populacao total'])
total_infectados_2020 = sum(total_dados_2020['infected'])
p_infectados_2020 = total_infectados_2020 / total_populacao_2020
print(f'A probabilidade de ser infectado pelo covid em 2020 √© de {p_infectados_2020*100:.2f}%')

infectado_e_brasil_2020 = total_dados_2020['infected'][0]
p_infectado_covid_e_brasil_2020 =  infectado_e_brasil_2020 / total_populacao_2020
print(f'A probabilidade de ser infectado pelo covid e ser brasileiro em 2020 √© de {p_infectado_covid_e_brasil_2020*100:.2f}%')

total_brasil_populacao_2020 = total_dados_2020['populacao total'][0]
p_infectado_covid_ser_brasileiro_2020 = infectado_e_brasil_2020 / total_brasil_populacao_2020
print('A probabilidade de ser infectado pelo covid |', f'ser brasileiro em 2020 √© de {p_infectado_covid_ser_brasileiro_2020*100:.2f}%')

#Data_Frame

coluna = '2020 2021'.split()
linha = 'P(infectados) P(infectado_covid_e_ser_Brasileiro) P(Infectado_covid_|_ser_Brasileiro)'.split()
comparacao_dados_brasil_2020 = (f'{p_infectados_2020*100:.2f}%'), (f'{p_infectado_covid_e_brasil_2020*100:.2f}%'), (f'{p_infectado_covid_ser_brasileiro_2020*100:.2f}%')
comparacao_dados_brasil_2021 = (f'{p_infectados*100:.2f}%'), (f'{p_infectado_covid_e_brasil*100:.2f}%'), (f'{p_infectado_covid_ser_brasileiro*100:.2f}%')

df_Brasil = pd.DataFrame(columns= coluna, index= linha)
df_Brasil['2020'] = comparacao_dados_brasil_2020
df_Brasil['2021'] = comparacao_dados_brasil_2021
df_Brasil

A probabilidade de ser infectado pelo covid em 2020 √© de 0.21%
A probabilidade de ser infectado pelo covid e ser brasileiro em 2020 √© de 0.01%
A probabilidade de ser infectado pelo covid | ser brasileiro em 2020 √© de 0.03%

                                      2020   2021
P(infectados)                        0.21%  8.25%
P(infectado_covid_e_ser_Brasileiro)  0.01%  2.32%
P(Infectado_covid_|_ser_Brasileiro)  0.03%  7.03%

In [52]:
# e-)
infectado_e_US = total_dados['infected'][3]
p_infectado_covid_e_US = infectado_e_US / total_populacao
print(f'A probabilidade de ser infectado pelo covid e ser americano √© de {p_infectado_covid_e_US*100:.2f}%')

A probabilidade de ser infectado pelo covid e ser americano √© de 5.10%

In [53]:
# f-)
total_US_populacao = total_dados['total population'][3]
p_infectado_covid_ser_americano = infectado_e_US / total_US_populacao
print('A probabilidade de ser infectado pelo covid |', f'ser americano √© de {p_infectado_covid_ser_americano*100:.2f}%')

A probabilidade de ser infectado pelo covid | ser americano √© de 9.88%

In [54]:
# g-) 
infectado_e_US_2020 = total_dados_2020['infected'][3]
p_infectado_covid_e_US_2020 = infectado_e_US_2020 / total_populacao_2020
print(f'A probabilidade de ser infectado pelo covid e ser americano √© de {p_infectado_covid_e_US_2020*100:.2f}%')

total_US_populacao_2020 = total_dados_2020['populacao total'][3]
p_infectado_covid_ser_americano_2020 = infectado_e_US_2020 / total_US_populacao_2020
print('A probabilidade de ser infectado pelo covid |', f'ser americano √© de {p_infectado_covid_ser_americano_2020*100:.2f}%')

#Data_Frame

coluna = '2020 2021'.split()
linha = 'P(infectado_covid_e_ser_Americano) P(Infectado_covid_|_ser_Americano)'.split()
comparacao_dados_US_2020 = (f'{p_infectado_covid_e_US_2020*100:.2f}%'), (f'{p_infectado_covid_ser_americano_2020*100:.2f}%')
comparacao_dados_US_2021 = (f'{p_infectado_covid_e_US*100:.2f}%'), (f'{p_infectado_covid_ser_americano*100:.2f}%')

df_US = pd.DataFrame(columns= coluna, index= linha)
df_US['2020'] = comparacao_dados_US_2020
df_US['2021'] = comparacao_dados_US_2021
df_US

A probabilidade de ser infectado pelo covid e ser americano √© de 0.16%
A probabilidade de ser infectado pelo covid | ser americano √© de 0.30%

                                     2020   2021
P(infectado_covid_e_ser_Americano)  0.16%  5.10%
P(Infectado_covid_|_ser_Americano)  0.30%  9.88%

In [55]:
# h-)
infectado_e_italy = total_dados['infected'][2]
p_infectado_covid_e_italy = infectado_e_italy / total_populacao
print(f'A probabilidade de ser infectado pelo covid e ser italiano √© de {p_infectado_covid_e_italy*100:.2f}%')

A probabilidade de ser infectado pelo covid e ser italiano √© de 0.64%

In [56]:
# i-)
total_italy_populacao = total_dados['total population'][2]
p_infectado_covid_ser_italiano = infectado_e_italy / total_italy_populacao
print('A probabilidade de ser infectado pelo covid |', f'ser italiano √© de {p_infectado_covid_ser_italiano*100:.2f}%')

A probabilidade de ser infectado pelo covid | ser italiano √© de 6.70%

In [57]:
# j-) 
infectado_e_italy_2020 = total_dados_2020['infected'][2]
p_infectado_covid_e_italy_2020 = infectado_e_italy_2020 / total_populacao_2020
print(f'A probabilidade de ser infectado pelo covid e ser italiano √© de {p_infectado_covid_e_italy_2020*100:.2f}%')

total_italy_populacao_2020 = total_dados_2020['populacao total'][2]
p_infectado_covid_ser_italiano_2020 = infectado_e_italy_2020 / total_italy_populacao_2020
print('A probabilidade de ser infectado pelo covid |', f'ser italiano √© de {p_infectado_covid_ser_italiano_2020*100:.2f}%')

#Data_Frame

coluna = '2020 2021'.split()
linha = 'P(infectado_covid_e_ser_Italiano) P(Infectado_covid_|_ser_Italiano)'.split()
comparacao_dados_Italy_2020 = (f'{p_infectado_covid_e_italy_2020*100:.2f}%'), (f'{p_infectado_covid_ser_italiano_2020*100:.2f}%')
comparacao_dados_Italy_2021 = (f'{p_infectado_covid_e_italy*100:.2f}%'), (f'{p_infectado_covid_ser_italiano*100:.2f}%')

df_Italy = pd.DataFrame(columns= coluna, index= linha)
df_Italy['2020'] = comparacao_dados_Italy_2020
df_Italy['2021'] = comparacao_dados_Italy_2021
df_Italy

A probabilidade de ser infectado pelo covid e ser italiano √© de 0.03%
A probabilidade de ser infectado pelo covid | ser italiano √© de 0.33%

                                    2020   2021
P(infectado_covid_e_ser_Italiano)  0.03%  0.64%
P(Infectado_covid_|_ser_Italiano)  0.33%  6.70%

# Exercicio 4

In [60]:
# a-)
total_populacao = sum(total_dados['total population'])
total_mortes = sum(total_dados['dead'])
p_morte = total_mortes/total_populacao
print(f'A probabilidade de ser morto pelo covid √© de {p_morte*100:.2f}%')

A probabilidade de ser morto pelo covid √© de 0.18%

In [61]:
# b-)
mortes_e_brasil = total_dados['dead'][0]
p_morte_covid_e_brasil =  mortes_e_brasil / total_populacao
print(f'A probabilidade de ser morto pelo covid e ser brasileiro √© de {p_morte_covid_e_brasil*100:.2f}%')

A probabilidade de ser morto pelo covid e ser brasileiro √© de 0.06%

In [62]:
# c-)
total_brasil_populacao = total_dados['total population'][0]
p_morte_covid_ser_brasileiro = mortes_e_brasil / total_brasil_populacao
print('A probabilidade de ser morto pelo covid |', f'ser brasileiro √© de {p_morte_covid_ser_brasileiro *100:.2f}%')

A probabilidade de ser morto pelo covid | ser brasileiro √© de 0.19%

In [63]:
# d-) 
total_populacao_2020 = sum(total_dados_2020['populacao total'])
total_mortes_2020 = sum(total_dados_2020['dead'])
p_morte_2020 = total_mortes_2020/total_populacao_2020
print(f'A probabilidade de ser morto pelo covid √© de {p_morte_2020*100:.4f}%')

mortes_e_brasil_2020 = total_dados_2020['dead'][0]
p_morte_covid_e_brasil_2020 =  mortes_e_brasil_2020 / total_populacao_2020
print(f'A probabilidade de ser morto pelo covid e ser brasileiro √© de {p_morte_covid_e_brasil_2020*100:.4f}%')

total_brasil_populacao_2020 = total_dados_2020['populacao total'][0]
p_morte_covid_ser_brasileiro_2020 = mortes_e_brasil_2020 / total_brasil_populacao_2020
print('A probabilidade de ser morto pelo covid |', f'ser brasileiro √© de {p_morte_covid_ser_brasileiro_2020*100:.4f}%')

#Data_Frame

coluna = '2020 2021'.split()
linha = 'P(mortes) P(mortes_covid_e_ser_Brasileiro) P(mortes_covid_|_ser_Brasileiro)'.split()
comparacao_dados_brasil_2020_morte = (f'{p_morte_2020*100:.4f}%'), (f'{p_morte_covid_e_brasil_2020*100:.4f}%'), (f'{p_morte_covid_ser_brasileiro_2020*100:.4f}%')
comparacao_dados_brasil_2021_morte = (f'{p_morte*100:.2f}%'), (f'{p_morte_covid_e_brasil*100:.4f}%'), (f'{p_morte_covid_ser_brasileiro*100:.4f}%')

df_Brasil_morte = pd.DataFrame(columns= coluna, index= linha)
df_Brasil_morte['2020'] = comparacao_dados_brasil_2020_morte
df_Brasil_morte['2021'] = comparacao_dados_brasil_2021_morte
df_Brasil_morte

A probabilidade de ser morto pelo covid √© de 0.0149%
A probabilidade de ser morto pelo covid e ser brasileiro √© de 0.0007%
A probabilidade de ser morto pelo covid | ser brasileiro √© de 0.0022%

                                     2020     2021
P(mortes)                         0.0149%    0.18%
P(mortes_covid_e_ser_Brasileiro)  0.0007%  0.0641%
P(mortes_covid_|_ser_Brasileiro)  0.0022%  0.1941%

In [64]:
# e-)
morte_e_US = total_dados['dead'][3]
p_morte_covid_e_US = morte_e_US / total_populacao
print(f'A probabilidade de ser morto pelo covid e ser americano √© de {p_morte_covid_e_US*100:.2f}%')

A probabilidade de ser morto pelo covid e ser americano √© de 0.09%

In [65]:
# f-)
total_US_populacao = total_dados['total population'][3]
p_morte_covid_ser_americano = morte_e_US / total_US_populacao
print('A probabilidade de ser morto pelo covid |', f'ser americano √© de {p_morte_covid_ser_americano*100:.2f}%')

A probabilidade de ser morto pelo covid | ser americano √© de 0.18%

In [66]:
# g-)
morte_e_US_2020 = total_dados_2020['dead'][3]
p_morte_covid_e_US_2020 = morte_e_US_2020 / total_populacao_2020
print(f'A probabilidade de ser morto pelo covid e ser americano √© de {p_morte_covid_e_US_2020*100:.2f}%')

total_US_populacao_2020 = total_dados_2020['populacao total'][3]
p_morte_covid_ser_americano_2020 = morte_e_US_2020 / total_US_populacao_2020
print('A probabilidade de ser morto pelo covid |', f'ser americano √© de {p_morte_covid_ser_americano_2020*100:.2f}%')

#Data_Frame

coluna = '2020 2021'.split()
linha = 'P(mortes_covid_e_ser_Americano) P(mortes_covid_|_ser_Americano)'.split()
comparacao_dados_US_2020_morte = (f'{p_morte_covid_e_US_2020*100:.2f}%'), (f'{p_morte_covid_ser_americano_2020*100:.2f}%')
comparacao_dados_US_2021_morte = (f'{p_morte_covid_e_US*100:.2f}%'), (f'{p_morte_covid_ser_americano*100:.2f}%')

df_US_morte = pd.DataFrame(columns= coluna, index= linha)
df_US_morte['2020'] = comparacao_dados_US_2020_morte
df_US_morte['2021'] = comparacao_dados_US_2021_morte
df_US_morte

A probabilidade de ser morto pelo covid e ser americano √© de 0.01%
A probabilidade de ser morto pelo covid | ser americano √© de 0.02%

                                  2020   2021
P(mortes_covid_e_ser_Americano)  0.01%  0.09%
P(mortes_covid_|_ser_Americano)  0.02%  0.18%

In [67]:
# h-)
morte_e_italy = total_dados['dead'][2]
p_morte_covid_e_italy = morte_e_italy / total_populacao
print(f'A probabilidade de ser morto pelo covid e ser italiano √© de {p_morte_covid_e_italy*100:.2f}%')

A probabilidade de ser morto pelo covid e ser italiano √© de 0.02%

In [68]:
# i-)
total_italy_populacao = total_dados['total population'][2]
p_morte_covid_ser_italiano = morte_e_italy / total_italy_populacao
print('A probabilidade de ser morto pelo covid |', f'ser italiano √© de {p_morte_covid_ser_italiano*100:.2f}%')

A probabilidade de ser morto pelo covid | ser italiano √© de 0.20%

In [69]:
# j-) 
morte_e_italy_2020 = total_dados_2020['dead'][2]
p_morte_covid_e_italy_2020 = morte_e_italy_2020 / total_populacao_2020
print(f'A probabilidade de ser morto pelo covid e ser italiano √© de {p_morte_covid_e_italy_2020*100:.4f}%')

total_italy_populacao_2020 = total_dados_2020['populacao total'][2]
p_morte_covid_ser_italiano_2020 = morte_e_italy_2020 / total_italy_populacao_2020
print('A probabilidade de ser morto pelo covid |', f'ser italiano √© de {p_morte_covid_ser_italiano_2020*100:.4f}%')

#Data_Frame

coluna = '2020 2021'.split()
linha = 'P(mortes_covid_e_ser_Italiano) P(mortes_covid_|_ser_Italiano)'.split()
comparacao_dados_Italy_2020_morte = (f'{p_morte_covid_e_italy_2020*100:.4f}%'), (f'{p_morte_covid_ser_italiano_2020*100:.4f}%')
comparacao_dados_Italy_2021_morte = (f'{p_morte_covid_e_italy*100:.4f}%'), (f'{p_morte_covid_ser_italiano*100:.4f}%')

df_Italy_morte = pd.DataFrame(columns= coluna, index= linha)
df_Italy_morte['2020'] = comparacao_dados_Italy_2020_morte
df_Italy_morte['2021'] = comparacao_dados_Italy_2021_morte
df_Italy_morte

A probabilidade de ser morto pelo covid e ser italiano √© de 0.0042%
A probabilidade de ser morto pelo covid | ser italiano √© de 0.0447%

                                   2020     2021
P(mortes_covid_e_ser_Italiano)  0.0042%  0.0190%
P(mortes_covid_|_ser_Italiano)  0.0447%  0.2008%

# Exercicio 5

In [70]:
coluna = '(mortes)2020 (mortes)2021 (infectados)2020 (infectados)2021'.split()
linha = 'P(mortes) P(covid_e_ser_Brasileiro) P(covid_|_ser_Brasileiro) P(covid_e_ser_Americano) P(covid_|_ser_Americano) P(covid_e_ser_Italiano) P(covid_|_ser_Italiano)'.split()

comparacao_dados_Geral_2020 = (f'{p_infectados_2020*100:.2f}%'), (f'{p_infectado_covid_e_brasil_2020*100:.2f}%'), (f'{p_infectado_covid_ser_brasileiro_2020*100:.2f}%'), (f'{p_infectado_covid_e_US_2020*100:.2f}%'), (f'{p_infectado_covid_ser_americano_2020*100:.2f}%'), (f'{p_infectado_covid_e_italy_2020*100:.2f}%'), (f'{p_infectado_covid_ser_italiano_2020*100:.2f}%')
comparacao_dados_Geral_2021 = (f'{p_infectados*100:.2f}%'), (f'{p_infectado_covid_e_brasil*100:.2f}%'), (f'{p_infectado_covid_ser_brasileiro*100:.2f}%'), (f'{p_infectado_covid_e_US*100:.2f}%'), (f'{p_infectado_covid_ser_americano*100:.2f}%'), (f'{p_infectado_covid_e_italy*100:.2f}%'), (f'{p_infectado_covid_ser_italiano*100:.2f}%')

comparacao_dados_Geral_2020_morte = (f'{p_morte_2020*100:.4f}%'), (f'{p_morte_covid_e_brasil_2020*100:.4f}%'), (f'{p_morte_covid_ser_brasileiro_2020*100:.4f}%'), (f'{p_morte_covid_e_US_2020*100:.2f}%'), (f'{p_morte_covid_ser_americano_2020*100:.2f}%'), (f'{p_morte_covid_e_italy_2020*100:.4f}%'), (f'{p_morte_covid_ser_italiano_2020*100:.4f}%') 
comparacao_dados_Geral_2021_morte = (f'{p_morte*100:.2f}%'), (f'{p_morte_covid_e_brasil*100:.4f}%'), (f'{p_morte_covid_ser_brasileiro*100:.4f}%'), (f'{p_morte_covid_e_US*100:.2f}%'), (f'{p_morte_covid_ser_americano*100:.2f}%'), (f'{p_morte_covid_e_italy*100:.4f}%'), (f'{p_morte_covid_ser_italiano*100:.4f}%') 

df_Geral = pd.DataFrame(columns= coluna, index= linha)
df_Geral['(infectados)2020'] = comparacao_dados_Geral_2020
df_Geral['(infectados)2021'] = comparacao_dados_Geral_2021
df_Geral['(mortes)2020'] = comparacao_dados_Geral_2020_morte
df_Geral['(mortes)2021'] = comparacao_dados_Geral_2021_morte

df_Geral

                          (mortes)2020  ... (infectados)2021
P(mortes)                      0.0149%  ...            8.25%
P(covid_e_ser_Brasileiro)      0.0007%  ...            2.32%
P(covid_|_ser_Brasileiro)      0.0022%  ...            7.03%
P(covid_e_ser_Americano)         0.01%  ...            5.10%
P(covid_|_ser_Americano)         0.02%  ...            9.88%
P(covid_e_ser_Italiano)        0.0042%  ...            0.64%
P(covid_|_ser_Italiano)        0.0447%  ...            6.70%

[7 rows x 4 columns]